*{
    margin: 0;
    padding: 0;

    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
/*cabecera*/
header{
    display: flex;
    background-color: rgb(34, 34, 34);
    justify-content:space-between;
    flex-wrap: nowrap;
    width: auto;
    padding: 0px 40px 0px 20px;
    box-shadow: 1px 2px 20px #073487;
}
.cabecera_items{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.cabecera_logo{
    align-self: center;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.cabecera_busqueda{
    color: rgb(5, 5, 5);
    margin: 5px;
    width: 230px;
    align-self: center;
    height: 35px;
    padding-left: 25px;
    border-radius: 10px;
    border-color: rgb(17, 51, 204);
    font-size: 15px; 
}

.cabecera_login{
    align-self: center;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}
/*PRODUCTOS*/
.container_productos{
    margin-top: 20px;
    margin-left: 40px;
    min-height: 800px;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #073487;
    width: 200px;
    height: 260px;
    padding: 5px;
    border-radius: 25px;
}
.contenedor_imagen{
height: 180px;    
}
.imagen_producto{
    width: 180px;
    height: 180px;
    object-fit: cover;
 }

footer{
    background-color: #073487;
     
}
.footer_imagen{
    max-width: 90%;    
    height: auto;  
}

